.Pay {
  text-align: center;
}

.Pay .buy-container {
  background-color: #FFFFFF!important;
}

.Pay button {
  margin-top: 3rem!important;
}

.Pay-participate {
  border: 3px solid #3eb9ff;
  -webkit-box-shadow: 0 6px 0 0 #3eb9ff;
  box-shadow: 0 6px 0 0 #3eb9ff;
  background-color: #000;
  color: #fff;
  font-family: CrackerJack,sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 50px;
  padding-right: 50px;
  letter-spacing: 1px;
}

.Pay-price {
  background-color: #000;
  color: #88d840;
  font-family: CrackerJack,sans-serif;
  font-size: 1.15rem;
}

.Pay-priceInner {
  background-color: #000;
  color: #88d840;
  font-family: CrackerJack,sans-serif;
  font-size: 1.15rem;
}

.Pay .text-purple-lg {
  color: #695ea2;
}

.Pay .text-orange-lg {
  color: #f07c3a;
}

.Pay .text-blue-lg {
  color: #3eb9ff;
}

.Pay-colorfulText {
  font-size: 0.9rem!important;
}
